<!doctype html>

<html>
    <head>
        <title>{{.title}}</title>
    </head>

    <body>
        New task:<br>
        <hr>
        <form action="/newTask" method="POST">
            Title: <br>
            <input type="text" name="title"><br><br>
            Content: <br>
            <input type="text" name="content"><br><br>
            <input type="submit" value="Add">
        </form>
        <hr>
        {{if .tasks}}
            <form action="/updateTask" method="POST">
                {{range .tasks}}
                    {{if .Done}}
                        <input type="checkbox" name="tasks" value="{{.TaskID}}" checked> {{.Title}} - {{.Content}}
                    {{else}}
                        <input type="checkbox" name="tasks" value="{{.TaskID}}"> {{.Title}} - {{.Content}}
                    {{end}}
                    <br>
                {{end}}
                <input type="submit" value="Update">
            </form>
        {{end}}
    </body>
</html>