<!doctype html>

<html>
    <head>
        <title>{{.title}}</title>
    </head>

    <body>
        New task:<br>
        <hr>
        <form action="/newTask" method="POST">
            Title: <br>
            <input type="text" name="title"><br><br>
            Content: <br>
            <input type="text" name="content"><br><br>
            <input type="submit" value="Add">
        </form>
        <hr>
        {{if .tasks}}
            {{range .tasks}}
                <input type="checkbox"> {{.Title}} - {{.Content}}
                <br>
            {{end}}
        {{end}}
    </body>
</html>